<nav class="menu hidden">
    <ul class="tabs">
        {# Pages #}
        <li class="tmenu" id="tab_"><a href="/" class="tab-profiel"></a></li>
        <li class="tmenu" id="tab_curriculum-vitae"><a href="/curriculum-vitae"></a></li>

        {# Projects #}
        {% for project in projects %}
        <li class="tmenu" id="tab_curriculum-vitae_{{ project.id }}"><a href="/curriculum-vitae/{{ project.id }}"></a></li>

        {% endfor %}
    </ul>
</nav>
