<!-- Footer -->
<footer id="footer">
    <div class="pre_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pb60 center">
                    <h2>Beschikbaarheid</h2>
                    <p>
                        Tot maart 2017 alleen beschikbaar voor kleine projecten.
                    </p>
                    <p>
                        <a href="/" data-push-state="true" class="after-link">
                            <span class="icon icon-circle-right"></span> Over Marien</a>
                        <a href="/curriculum-vitae" data-push-state="true" class="after-link">
                            <span class="icon icon-circle-right"></span> Curriculum Vitae</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="bottomtext hidden"><div class="container"><div class="row">
                <div class="col-md-12">


                </div>
            </div></div></div>
    <div class="bigfooter"><div class="container"><div class="row">
                <div class="col-sm-5">

                    <ul class="personal-info">
                        <li><label>Naam</label><span>Marien van Overbeek</span></li>
                        <li><label>Geboren</label><span>30 juni 1985</span></li>
                        <li><label>E-mail</label><span class="word-wrap"><a href="mailto:marien@mavanov.nl">marien@mavanov.nl</a></span></li>
                        <li><label>Telefoon</label><span>010 - 30 70 343</span></li>
                        <li><label>Woonplaats</label><span>Rotterdam</span></li>
                        <li><label>Bedrijf</label><span>
            <a href="https://www.acato.nl"
               target="_blank">Acato</a>
                            </span></li>
                    </ul>

                </div>
                <div class="col-sm-7 hidden-xs">
                    <div class="footer_header">Over Marien</div>
                    {% for text in global.about.text %}
                    <p>{{ text|raw }}</p>
                    {% endfor %}

                </div>

            </div></div></div>
</footer>
<!-- /Footer -->